{:paths ["src"]
 :deps {
        io.github.kotoba-lang/crypto-default-digest-fn
        {:git/url "https://github.com/kotoba-lang/crypto-default-digest-fn.git"
         :git/sha "1387d005042cc60b987f461a589aa1554f71b35e"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
